
<div>
    <h1>Flight date</h1>
    <mat-datepicker-toggle [for]="resultPicker"></mat-datepicker-toggle>
    <mat-form-field>
      <mat-label>Pick a date</mat-label>
      <input matInput
             #resultPickerModel="ngModel"
             [matDatepicker]="resultPicker"
             [(ngModel)]="newTicket.flightDate"
             [matDatepickerFilter]="dateFilter">            
      <mat-datepicker #resultPicker>
      </mat-datepicker>
      <mat-error *ngIf="resultPickerModel.hasError('matDatepickerParse')">
        "{{resultPickerModel.getError('matDatepickerParse').text}}"
         is not a valid date!
      </mat-error>
      <mat-error *ngIf="resultPickerModel.hasError('matDatepickerFilter')">
        Date unavailable!
      </mat-error>
    </mat-form-field>  
    <button class="btn btn-info" (click)="buyTicket()">Buy ticket</button>


</div>
<button class="btn btn-info" (click)="goBack()">Go back</button>