<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">KrzysiekAirport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flights</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="flights" href="#">Flight list</a>
          <a class="dropdown-item" routerLink="arrivals" href="#">Arrival board</a>
          <a class="dropdown-item" routerLink="departures" href="#">Departure board</a>
        </div>
      </li>
    </ul>
    
    <ul *ngIf="logged  == false" class="navbar-nav mr-auto1">
      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Guest
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="login" href="#">Login</a>
          <a class="dropdown-item" routerLink="registration" href="#">Register</a>
        </div>
      </li>
    </ul>
    
    <ul *ngIf="logged == true" class="navbar-nav mr-auto1">
      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.login}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="tickets/bought" href="#">Tickets history</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="logout" href="#">Logout</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>