<h1 style="text-align: center;">
    Welcome to Krzysiek Airport Website!
</h1>

  <div class="list-group">
    <button type="button" (click)="flights()" class="list-group-item list-group-item-action">Flight list </button>
    <button type="button" (click)="arrivals()" class="list-group-item list-group-item-action">Arrival board</button>
    <button type="button" (click)="departures()" class="list-group-item list-group-item-action">Departure board</button>
    <button type="button" (click)="tickets()" class="list-group-item list-group-item-action">Tickets</button>
    <div *ngIf="logged == false">  
    <button type="button" (click)="logIn()" class="list-group-item list-group-item-action">Log in</button>
    <button type="button" (click)="register()" class="list-group-item list-group-item-action">Register</button>
    </div>
    <div *ngIf="logged == true">  
    <button type="button" class="list-group-item list-group-item-action" disabled>Login</button>
    <button type="button" class="list-group-item list-group-item-action" disabled>Register</button>
    </div>
  </div>