<div>
    <div>
        <h1>All user tickets</h1>

        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Flight code</th>
                <th scope="col">Flight date</th>
                <th scope="col">Airport name</th>
                <th scope="col">Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of tickets">
                <td>{{ ticket.flightCode}}</td>
                <td>{{ ticket.flightDate }}</td>
                <td>{{ ticket.airportName }}</td>
                <td>{{ ticket.cost | currency : "zŁ"}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-info" (click)="goBack()">Go back</button>
</div>  