<div>
    <h1>New user form</h1>
    <p>Login: <input [(ngModel)]="newUser.login" placeholder="enter login" /></p>
    <p>Password: <input type="password" [(ngModel)]="newUser.passwordHash" placeholder="enter password" /></p>
    <p>Name: <input [(ngModel)]="newUser.name" placeholder="enter name" /></p>
    <p>Surname: <input [(ngModel)]="newUser.surname" placeholder="enter surname" /></p>
    <mat-datepicker-toggle [for]="resultPicker"></mat-datepicker-toggle>
    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <input matInput
             #resultPickerModel="ngModel"
             [matDatepicker]="resultPicker"
             [(ngModel)]="newUser.birthDate"
             [max]="maxDate">
      <mat-datepicker #resultPicker>
      </mat-datepicker>
      <mat-error *ngIf="resultPickerModel.hasError('matDatepickerParse')">
        "{{resultPickerModel.getError('matDatepickerParse').text}}"
         is not a valid date!
      </mat-error>
      <mat-error *ngIf="resultPickerModel.hasError('matDatepickerMax')">
        Maximum date should be {{maxDate | date }}
      </mat-error>    
    </mat-form-field>
    <button (click)="addUser()">Add user</button>
</div>
<button class="btn btn-info" (click)="goBack()">Go back</button>
