<div>
    <div>
        <h1>All flights list</h1>

        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Manifacturer</th>
                <th scope="col">Model</th>
                <th scope="col">Seat Count</th>
                <th scope="col">Airline</th>
                <th scope="col">Port</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Cost</th>
                <th scope="col">Day of the week</th>
                <th scope="col">Time</th>
                <th scope="col">Durration</th>
                <th scope="col">Buy Ticket</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let flight of flights">
                <th scope="row">{{ flight.id }}</th>
                <td>{{ flight.planeManifacturer }}</td>
                <td>{{ flight.planeModel }}</td>
                <td>{{ flight.planeSeatCount }}</td>
                <td>{{ flight.airlineName }}</td>
                <td>{{ flight.portName }}</td>
                <td>{{ flight.portCityName }}</td>
                <td>{{ flight.portCountryName }}</td>
                <td>{{ flight.cost }}</td>
                <td>{{ getDayOfTheWeek(flight.flightDay) }}</td>
                <td>{{ flight.flightTime | date:'shortTime' }}</td>
                <td>{{ flightflightDurration }}</td>
                <td><button type="button" class="btn btn-outline-primary" (click)="buyTicket(flight.id)">Buy</button></td>
              </tr>
            </tbody>
        </table>
    </div>
  
</div>  