<div>
    <div>
        <h1>Departure flight list</h1>

        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Flight code</th>
                <th scope="col">Arrival airport name</th>
                <th scope="col">Departure date</th>
                <th scope="col">Departure status</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let flight of flights">
                <td>{{ flight.flightCode }}</td>
                <td>{{ flight.arrivalAirportName }}</td>
                <td>{{ flight.departureDate }}</td>
                <td>{{ flight.departureStatus }}</td>
              </tr>
              <button type="button" class="btn btn-outline-primary" (click)="refresh()">refresh</button>
            </tbody>
        </table>
    </div>
    <button class="btn btn-info" (click)="goBack()">Go back</button>  
</div>  