<div>
    <h1>Log in</h1>
    <p>UserName: <input [(ngModel)]="userName" placeholder="enter username" /></p>
    <p>Password: <input [(ngModel)]="userPassword" placeholder="enter username" type="password" /></p>
    <button class="btn btn-primary" (click)="logIn()">LogIn</button>
    <button class="btn btn-info" (click)="goBack()">Go back</button>
</div>